# Prerequisites
*.d

# Object files
Kernel/*.o
Kernel/drivers/*.o
Kernel/IDT/*.o
Kernel/memory_manager/*.o
Userland/*.o
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.bash_history
all
BUDDY_MM
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
Userland/SampleCodeModule/tests/.bashrc
Userland/SampleCodeModule/tests/.gdb_history
Bootloader/BMFS/bmfs.bin
Bootloader/Pure64/bmfs_mbr.sys
Bootloader/Pure64/pure64.sys
Bootloader/Pure64/pxestart.sys
Image/packedKernel.bin
Image/x64BareBonesImage.img
Image/x64BareBonesImage.qcow2
Image/x64BareBonesImage.vmdk
Kernel/kernel.bin
Userland/0000-sampleCodeModule.bin
Userland/0001-sampleDataModule.bin
